body {
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  border-radius: 5px;
}

.Navbar, .navbar-dark .navbar-nav .nav-link {
  color: #e0e0e0;
}

.Navbar-brand, .nav-link, .navbar-toggler-icon {
  color: #f8f9fa;
}
.custom-pagination .page-item .page-link {
  color: #123524;
  border: 1px solid #123524;
}

.custom-pagination .page-item.active .page-link {
  background-color: #123524;
  color: white;
  border-color: #123524;
}

.custom-pagination .page-item.disabled .page-link {
  color: gray;
}
